body {
    background: #111;
    color: #eee;
    font-family: 'Arial Black', sans-serif;
}

.hero-techista {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../camera/techista/Casa-Country3.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-techista h1 {
    font-size: 4rem;
    color: #1ec11e;
    text-shadow: 3px 3px 0 #000;
}

.btn-llamar {
    background: #1ec11e;
    color: black;
    padding: 15px 40px;
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
}

.btn-llamar:hover {
    background: white;
    color: black;
}

.texto-rudo {
    padding: 60px 0;
}

.texto-rudo h2 {
    color: #1ec11e;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
    filter: grayscale(30%);
}

.zona-carga {
    background: #222;
    padding: 50px;
    border: 2px dashed #1ec11e;
    text-align: center;
}

.zona-carga input {
    margin-top: 20px;
}

.footer-techista {
    background: black;
    padding: 40px 0;
    border-top: 4px solid #1ec11e;
}

.footer-techista a {
    color: #1ec11e;
    text-decoration: none;
    font-weight: 700;
}

.footer-techista a:hover {
    color: white;
}